
//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1160px; // можно выбрать свои параметры 
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$mainColor: #777777;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Montserrat','Roboto', sans-serif;
$fontSize: 16px;
//</Шрифт по умолчанию>==========================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "nullstyle";
body {
	color: $mainColor;
	font-family: $fontFamily;
	font-size: $fontSize;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================


//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
	background-image: url('../img/BG\ 1.png');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size:cover;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $maxWidthContainer;
   margin: 0 auto;
	padding: 0 5px;
   width: 100%;
   @media (max-width: $md1) {
      max-width: 970px;
   }
   @media (max-width: $md2) {
      max-width: 750px;
   }
   @media (max-width: $md3) {
      max-width: none;
      padding: 0 10px;
   }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

/*--------------------------------------------------------------------------------------------------*/
.page {
	flex: 1 1 auto;
}

/*--------------------------------------------------------------------------------------------------*/
.search-svg{
	fill:rgba(255, 255, 255, 0.6);
	transition: fill 0.6s;
}
#works-svg{
	fill:#ffffff;
}


.header {
	position: relative;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: rgba(94, 93, 88, 0.6);
	margin-bottom: 264px;

		&__container {
			display:flex;
			justify-content: space-between;
		}

		&__navigation {
			display: flex;
			align-items:flex-end;
		}

		&__navigation-links {
			display: flex;
			gap: 21px;
			line-height: 24px;

			text-transform: uppercase;
			font-weight: 700;
			& li {
				border-bottom: 2px solid transparent;
				padding-bottom: 40px;
				transition: all 0.6s;
				& a{
					color: rgba(255, 255, 255, 0.6);
					transition: all 0.6s;
				}
			}

			& li:hover{
				& a {
					color:#18CFAB;
				}
				cursor: pointer;
				border-bottom: 2px solid #18CFAB;
				transition: all 0.6s;
				& .search-svg{
					fill:#18CFAB;
					transition: fill 0.6s;
				}
			}
		}
	}


	.btn{
		margin: 0 auto;
		background: #18CFAB;
		width: 169px;
		height: 63px;
		color: #fff;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 32px;
		border-radius: 5px;
		box-shadow: 0px -7px 0px 0px #ffffff;
	}

	.main-block {
			&__home {
				text-align: center;
				color: #ffffff;
				margin-bottom: 122px;
			}
	
			&__home-suptitle {
					
						text-transform: uppercase;
						font-weight: 900;
						font-size: 35px;
						margin-bottom: 22px;
					& span {
						color:#18CFAB;
					}
			}
	
			&__home-title {
				text-transform: uppercase;
				font-weight: 900;
				font-size: 78px;
				margin-bottom: 22px;
			}
	
			&__home-subtitle {
				color: #D4D4D4;
				font-size: 34px;
			}
	
			&__buttons {
				text-align: center;
				margin-bottom: 243px;
			}
	
			&__buttons-explore {
				margin-right: 26px;
			}
	
			&__buttons-purchase {
				background-color: #00CBF6;
			}
		}


		.cards-and-services {
			padding-top: 8px;
			background-color:#ffffff;
			padding-bottom: 91px;
		}
		.cards-items {
		margin-bottom: 92px;
		display: flex;
				&__element {
					display: flex;
					flex-direction: column;
					align-items: center;
					flex: 1 1 auto;
					text-align: center;
					& h3{
						margin: 0 0 103px 0;
						text-transform: uppercase;
						font-size: 20px;
						line-height: 24px;
						font-weight: 700;
						width: 315px;
					}
				}
		}
		.set-colors1 {
			color: #18CFAB;
			background-color: #1C2A33;
			& img{
				margin-bottom: 48px;
				margin-top: 87px;
			}
		}
		.set-colors2 {
			color:#ffffff;
			background-color:#18CFAB;
			& img{
				margin-bottom: 59px;
				margin-top: 98px;
			}
		}


			.services {

			&__title {
				padding-bottom: 30px;
			}
	
			&__tabs {
				display: flex;
				margin-bottom: 40px;
				text-align: center;
				& li{
					flex: 1 1 auto;
					padding: 17px 34px;
					font-size: 16px;
					line-height: 24px;
					color: #777777;
					background-color:#fdfbfb;
					border: 1.5px solid hsl(0, 0%, 93%);
				}
				& li:hover{
					border: 1.5px solid #18CFAB;
					cursor: pointer;
				}
				
				& .active{
					position: relative;
					border: 1.5px solid #18CFAB;
					background-color:#18CFAB;
					color: #fff;
					&::after{
						content: url('../img/icons/Rectangle.svg');
						position: absolute;
						display: block;
						top: 65px;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}	
			&__tabs-content {
				& img{
					width: 192px;
					height: 132px;
				}
				& .active{
					& .tab-service-container{
						display: flex;
					}
					& p{
						font-weight: 300;
						font-size: 13.645px;
						line-height: 24px;
						color: #777777;
						margin-left: 13px;
					}
				}
			}
	}
	.title{
		color:#4E4E4E;
		font-size: 36px;
		line-height: 40px;
		text-align: center;
		position: relative;
		margin-bottom: 67px;
		&::after{
			content: url('../img/services/style-title.png');
			position: absolute;
			display: block;
			top: 55px;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.tab {
		display: none;
	}


	.block-info {
	text-align: center;
	background: url('../img/BG\ 2.png') no-repeat center;
	padding-top: 126px;

		&__text {
			margin-bottom:62px;
			& h2{
				font-size: 40px;
				line-height: 40px;
				font-weight: 900;
				color:#18CFAB;
				margin-bottom: 12.5px;
			}
			& p{
				font-size: 16px;
				line-height: 40px;
				color: #D8D8D8;
			}
		}

		&__button {
			margin-bottom: 128px;
		}
}




.works {
	padding: 97px 0 99px 0;
	background-color:#E9EDEF;
	&__title {
		margin-bottom: 89px;
	}

	&__tabs {
		display: flex;
		justify-content: center;
		margin-bottom: 69px;
		& li:nth-child(1){
			padding: 14px 29px;
		}
	}

	&__tabs-title {
		padding: 14px 15px;
		border: 1.5px solid #DADADA;
		color: #717171;
			font-size: 14px;
			line-height: 42px;
			cursor: pointer;	
		&.active{
			border: 3px solid #18CFAB;
			color:#18CFAB;
		}
	}

	&__imgs {
		display:grid;
		grid-template-columns: repeat(4, 1fr);
		margin-bottom: 70px;

	}

	&__imgs-item {
		position: relative;
		&:nth-last-of-type(-n + 12){
			display:none;
		}
		&:hover .works__hover{
			transition: opacity 0.4s linear;
			opacity: 1;
		}
		&:hover .works__imgs-item-img{
			opacity: 0;
		}
	}

	&__hover {
		width: 285px;
		height: 206px;
		text-align: center;
		background-color:#E9EDEF;
		border-top: 2px solid #18CFAB;
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		transition: opacity 0.4s linear;
		opacity: 0;
	}

	&__hover-items {
		display:flex;
		justify-content:center;
		gap: 10px;
		margin:46px 0 32px 0;
	}

	&__hover-items-item1 {
		transition: all 0.6s linear;
		&:hover{
			background-color:#18CFAB;
			cursor: pointer;
			& svg{
				fill: #ffffff;
			}
		}
	}

	&__hover-items-item2 {
		transition: all 0.6s linear;
		&:hover{
			background-color:#18CFAB;
			cursor: pointer;
			& svg{
				fill: #ffffff;
			}
		}
	}

	&__hover-text {
		margin-bottom: 34px;
		& h3{
			color:#18CFAB;
			font-size: 14.1771px;
			line-height: 25px;
			font-weight: 700;
			text-transform: uppercase;
		}
		& p{
			font-size: 12.1518px;
			line-height: 25px;
			font-weight: 300;
			color: #8A8A8A;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: none;
		margin: 0 auto;

		& p{
			padding-left: 15px;
			font-size: 14px;
			line-height: 42px;
			font-weight: 700;
			color: #fff;
		}
	}

	&__button-svg {
		padding-top: 5px;
	}
}

.hide {
	display: none;
}

.item {
	border: 1px solid #18CFAB;
		padding: 10px;
		border-radius: 50%;
			& svg{
				fill:#18CFAB;
			}
			& a {
				display: flex;
				align-items:center;
			}
}


.news {
background-color: #ffffff;
padding: 89px 0 131px 0;
	&__title{
		margin-bottom:100px;
	}
	&__blogs {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 44px 0;
	}

	&__blogs-item {
		position: relative;
		margin-bottom: 44px;
		&:hover{
			background:#F8FCFE;
			transition: background 0.5s linear;
			cursor: pointer;
			& h3{
				transition: all 0.5s linear;
				color:#18CFAB;
				transform: translate(10px,0)
			}
			& div:last-child{
				transition: background 0.5s linear;
				background:#18CFAB;
			}
		}
	}

	&__blogs-item-img {
		margin-bottom: 15px;
	}

	&__blogs-item-text {
		position:relative;
		padding-left: 15px;
		
		& h3{
			transition: all 0.5s linear;
			color:#717171;
			font-size: 18px;
			margin-bottom: 14px;
			font-weight: 700;
		}
		//доделать полоску в тексте
		& p{
			font-weight: 300;
			& span:last-child{
				padding-left:14px;
			}
			& span:nth-child(1){
				position: relative;
				padding-right: 10px;
				&::after{
					content: "";
					display: block;
					height: 14px;
					width: 1px;
					bottom: 1px;
					right:0;
					background:#777777;
					position: absolute;
				}
			}
		}
		//доделать полоску в тексте
	}

	&__blogs-item-date {
		background-color:#203E38;;
		color:#fff;
		font-size: 16px;
		transition: background 0.5s linear;
		& p{
			margin-bottom: 5px;
		}
		text-align: center;
		padding: 12px 18px; 
		position:absolute;
		top: 0;
		right: 0;
	}
}


.about {
background: url('../img/BG\ 3.jpg') no-repeat center;
background-size: cover;
padding: 100px 0 96px 0;
text-align: center;
	&__title {
		color:#ffffff;
		margin-bottom: 89px;
	}
}
.slider-item {
display: none;
	&__png {
		margin-bottom: 37px;
	}

	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 30px;
		color: #BBBBBB;
			& p{
				margin-bottom: 37px;
			}
			& h3{
				font-size: 16px;
				line-height: 27px;
				text-transform: uppercase;
				color:#18CFAB;
				font-weight: 700;
			}
			& p:last-child{
				font-weight: 300;
				font-size: 13px;
			}
	}

	&__image {
		& img{
			width: 156px;
			height: 154px;
		}
		margin-bottom: 51px;
	}
}
.slider-item.active{
	display: block;
}
.slider-people {
	position: relative; 
	max-width: 500px;
	margin:0 auto;
	&__img {
		cursor: pointer;
		transition: transform 0.5s linear; // движение картинки чел
		&:first-child{
			padding-left: 30px;
		}
		display: inline-block;
		margin: 0 24px 0 0;
		&.active{// движение картинки чел
			transform: translate(0, -15px);
			transition: transform 0.5s linear;
		}
	}
}
.previous-slide {
	position:absolute; 
	left: 0;
	top: 22px;
}
.next-slide {
	position:absolute;
	right: 0;
	top: 22px;
}
.slide-btn{
	width: 31px;
	height: 31px;
	border: 1px solid #BBBBBB;
	padding-top: 8px;
	transition: all 0.5s linear;
	& svg {
		fill:#BBBBBB;
	}
	&:hover{
		border: 1px solid #18CFAB;
		background:#18CFAB;
		cursor: pointer;
		& svg {
			fill: #fff;
		}
		transition: all 0.5s linear;
	}
}


.gallery {
	background: #fff;
	padding:97px 0 91px 0;
	&__title {
		margin-bottom: 92px;
	}

	&__images {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap:21px 20px;
		margin-bottom: 52px;
	}

	&__images-item {
		position: relative;
		margin-bottom: 20px;
		&:hover{
			& img{
				opacity: .3;
			}
			& .gallery__images-item-icons{
				transition: opacity 0.5s linear;
				opacity: 1;
			}
		}
	}

	&__images-item-img {
		display:block;
		background: linear-gradient(rgba(0, 0, 0, 0.64));
		& img{
			display:block;
			transition: opacity 0.3s linear;
		}
	}

	&__images-item-icons {
		display: flex;
		justify-content:center;
		align-items: center;
		gap: 20px;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position:absolute;
		opacity: 0;
	}

	&__images-item-icon {
		transition: background 0.5s linear;
		background:#00CBF6;
		padding-top: 5px;
		text-align: center;
		width: 27px;
		height: 25px;
			& svg{
				fill: #fff;
			}
				&:hover{
					cursor: pointer;
					background:#18CFAB;
					transition: background 0.5s linear;
				}
	}
}
.gallery__images-column3-inner1{
	display: flex;
	gap: 4px;
		&> div{
			margin-bottom: 4px;
		}
}
.gallery__images-column3-inner2{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0 4px;
	margin-bottom: 20px;
		&> div{
			margin-bottom: 4px;
		}
}
.gallery {
text-align: center;	
	&__button {
		display:flex;
		align-items:center;
		justify-content:center;
		gap: 12px;
	}

	&__button-svg {
		padding-top: 5px;
	}
}


		.slide-show {
			width: 173px;
			height: 189px;
			position:absolute;
			bottom: 122px;
			right: 203px;
			z-index: 1;

			&__imgs {
				width: 173px;
				height: 108px;
				background: #171717;
				mix-blend-mode: multiply;
				opacity: 0.5;
				margin-bottom: 16px;
			}
	
			&__buttons {
				display: flex;
				justify-content: space-between;
			}
	
			&__button {
				width: 65px;
				height: 65px;
				background: #3C4140;
				& svg{
					fill:#777777;
				}
			}
	}

	.active-btn{
		background: #18CFAB;
		& svg{
			fill: #fff;
		}
	}

	.footer {
		background-color:  #22353F;
		&__container {
			text-align: center;
			font-size: 14px;
			font-weight: 300;
			padding: 48px;
			& p span {
				color:#18CFAB;
			}
		}
}
.loading{
	display: none;
	position: relative;
}
.gooey {
	position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  filter: contrast(20);
}
.dot {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 12px;
	left: 15px;
	background: #000;
	border-radius: 50%;
	transform: translateX(0);
	animation: dot 2.8s infinite;
}
.dots {
	transform: translateX(0);
	margin-top: 12px;
	margin-left: 31px;
	animation: dots 2.8s infinite;
	& span {
	  display: block;
	  float: left;
	  width: 16px;
	  height: 16px;
	  margin-left: 16px;
	  background: #000;
	  border-radius: 50%;
	}
}
@keyframes dot{
  50%{
	transform: translateX(96px);
  }}
@keyframes dots{
	50%{
		transform: translateX(-31px);
	}
}







